{% extends 'base.html.twig' %}

{% block title %}🏂 Snow Tricks - Connexion
{% endblock %}

{% block body %}
<section class="py-5 mt-4" style="height: 80vh;">
                <div class="container px-5 h-100">
                    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5 h-100">
                        <div class="text-center mb-5 mt-4">
                            <h1 class="fw-bolder">Connexion</h1>
                        </div>

                        <!-- Submit success message -->
                        {% for message in app.flashes('success') %}
			                <div class="alert alert-success mt-4">
				                {{ message }}
			                </div>
		                {% endfor %}
                        
                        <!-- Submit error message -->
                        {% for message in app.flashes('warning') %}
                            <div class="alert alert-warning mt-4">
                                {{ message }}
                            </div>
		                {% endfor %}
                        {% if error %}
                            <div class="alert alert-danger mt-4">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}

                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6 mt-4">
                                <!-- Snow Tricks Connexion Form -->
                                <form action="{{ path('security.login') }}" method="post" name="login">
                                    <!-- Email address input -->
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="username" name="_username" placeholder="exemple@snowtricks.fr" data-sb-validations="required,email">
                                        <label for="username">Adresse email</label>
                                        <small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre e-mail.</small>
                                    </div>
                                    <!-- Password input -->
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="password" name="_password" placeholder="********" data-sb-validations="required,password">
                                        <label for="password">Mot de passe</label>
                                        <div class="row gx-5 mt-4 justify-content-center">
                                            <a href="{{ path('forget.password') }}">Mot de passe oublié ?</a>
                                        </div>
                                    </div>
                                    <!-- Submit button -->
                                    <div class="d-grid"><button type="submit" class="btn btn-primary btn-lg">
                                        Se connecter
                                    </button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}
