
{% block header %}
    <!-- Navigation-->
    <div class=" desktop">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="{{ path('home.index') }}"> Snow Tricks</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{{ path('home.index') }}">Home</a></li>
                    
                    {% if app.user %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('create.tricks') }}">Cr茅er une figure</a></li>
                        {# L'utilisateur est connect茅 #}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ app.user.firstName }} {{ app.user.lastName }}</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                <li><a class="dropdown-item" href="{{ path('user.edit', {id : app.user.id}) }}">Mon profile</a></li>
                                <li><a class="dropdown-item" href="{{ path('security.logout') }}">D茅connexion</a></li>
                            </ul>
                        </li>
                    {% else %}
                        {# L'utilisateur n'est pas connect茅 #}
                        <li class="nav-item"><a class="nav-link" href="{{ path('security.login') }}">Connexion</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('security.registration') }}">Inscription</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    </div>
    <div class="mobile">
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <div class="container">
            <!-- Ic么ne d'accueil -->
            <a class="navbar-brand" href="{{ path('home.index') }}">
                <i class="bi bi-house-door"></i>
            </a>
            {% if app.user %}
                    {# L'utilisateur est connect茅 #}
                    <!-- Ic么ne de cr茅ation de tricks -->
                    <a class="navbar-brand" href="{{ path('create.tricks') }}">
                        <i class="bi bi-bookmark-fill"></i>
                    </a>
                    <!-- Ic么ne de profile -->
                    <a class="navbar-brand" href="{{ path('user.edit', {id : app.user.id}) }}">
                        <i class="bi bi-person-circle"></i>
                    </a>   
                    <!-- Ic么ne de d茅connexion -->
                    <a class="navbar-brand" href="{{ path('security.logout') }}">
                        <i class="bi bi-box-arrow-left"></i>
                    </a>   
                        
            {% else %}
                    {# L'utilisateur n'est pas connect茅 #}
                    <!-- Ic么ne d'inscription -->
                    <a class="navbar-brand" href="{{ path('security.registration') }}">
                        <i class="bi bi-journal-check"></i>
                    </a>     
                    <!-- Ic么ne de connexion -->
                    <a class="navbar-brand" href="{{ path('security.login') }}">
                        <i class="bi bi-box-arrow-in-right"></i>
                    </a>
            {% endif %}
        </div>
    </nav>
    </div>
{% endblock %}
