{% extends 'base.html.twig' %}

{% block title %}🏂 Snow Tricks - Tricks Title
{% endblock %}

{% block body %}
            <section>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success mt-4">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('warning') %}
                    <div class="alert alert-warning mt-4">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="container-fluid p-0">
                    <div class="position-relative">
                        <!-- Boutons avec icônes (stylo et poubelle) en haut à droite -->
                        <div class="position-absolute top-0 end-0 m-3">
                            {% if currentUser is not null and currentUser == tricks.user %}
                                <a class="btn btn-link" href="{{ path('edit.tricks', {slug: tricks.slug}) }}"><i class="bi bi-pencil-fill me-2"></i></a>
                                <a class="btn btn-link" href="{{ path('delete.tricks', {slug: tricks.slug}) }}" onclick="return confirm('Voulez-vous supprimer définitivement cet article ?')"><i class="bi bi-trash-fill"></i></a>
                            {% endif %}
                        </div>
                            {% if tricks.tricksImage|length > 0 %}
                                {% set firstImageDisplayed = false %}
                                {% for image in tricks.tricksImage %}
                                    {% if not firstImageDisplayed %}
                                        <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ tricks.title }}" class="tricks_hero_image"/>
                                        {% set firstImageDisplayed = true %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <img src="../images/tricksImages/pexels-dennis-leinarts-1748597.jpg" alt="{{ tricks.title }}" class="tricks_hero_image"/>
                            {% endif %}
                        <!-- Titre superposé -->
                        <h1 class="fw-bolder mb-1 position-absolute top-50 start-50 translate-middle" style="color: #fff; transform: translate(-50%, -50%); z-index: 1;">{{ tricks.title }}</h1>
                    </div>
                </div>
            </section>
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                            <!-- Post content-->
                            <article>
                                <!-- Post medias-->
                                <div class="mobile">
                                    <div class="row">
                                        <button id="togg1" class="btn btn-secondary btn-lg px-4 me-sm-3 mb-5">See medias</button>
                                    </div>
                                </div>         
                                <div id="d1" class="desktop">
                                    <div id="media-container" class="d-flex">
                                        <div  class="row row-cols-1 row-cols-md-2 row-cols-lg-6">
                                                {% if tricks.tricksImage|length > 0 %}
                                                    {% for key, image in tricks.tricksImage %}
                                                        {% if key > 0 %} {# Vérifie si ce n'est pas la première image #}
                                                        <div class="col mb-5">
                                                            <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ tricks.title }}" class="tricks_underHero_image"/>
                                                        </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <div class="col mb-5">
                                                        <img src="../images/tricksImages/pexels-dennis-leinarts-1748597.jpg" alt="{{ tricks.title }}" class="tricks_underHero_image"/>
                                                    </div>
                                                {% endif %}
                                        
                                            {% if tricks.tricksVideo is not empty %}
                                                {% for video in tricks.tricksVideo %}
                                                <div class="col mb-5">
                                                    <iframe class="tricks_underHero_video" src="{{ video.videoUrl }}" frameborder="0" allowfullscreen></iframe>
                                                </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>    
                                    </div>
                                </div>
                                <!-- Post content-->
                                <section class="mb-5">
                                    <p class="fs-5 mb-4">{{ tricks.description }}</p>
                                </section>
                                <section class="mb-5">
                                    <div class="container mt-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <!-- Post meta content -->
                                                <div class="text-muted fst-italic mb-2">Mis en ligne le {{ tricks.createdAt|date('d/m/Y') }}</div>
                                                <!-- Post categories -->
                                                {% for group in tricks.idGroup %}
                                                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ group.getName() }}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </article>
                            <!-- Comments section-->
                            <section>
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <!-- Comment form-->
                                        {% if app.user %}
                                        <div class="m-4">
                                        {{ form(form) }}
                                        </div>
                                        {% else %}
                                        <div class="m-4">
                                            <div class="fw-bold">Pour laisser un commentaire vous devez être connecter</div>
                                            <a class="btn btn-primary btn-lg px-4 me-sm-3 mt-4" href="{{ path('security.login') }}">Connexion</a>
                                            <a class="btn btn-secondary btn-lg px-4 me-sm-3 mt-4" href="{{ path('security.registration') }}">Inscription</a>
                                        </div>
                                        {% endif %}
                                        <!-- Single comment-->
                                        {% for comment in tricks.comments|slice(0, 5) %}
                                            <div class="d-flex m-4">
                                                {% if comment.author.imageName %}
                                                    <div class="flex-shrink-0"><img class="rounded-circle profile-picture" src="../images/userImages/{{ comment.author.imageName }}" alt="{{ comment.author }}'s image profile" /></div>
                                                {% else %}
                                                    <div class="flex-shrink-0"><img class="rounded-circle profile-picture" src="../images/src_site/userProfilePicturePlaceholder.jpg" alt="..." /></div>
                                                {% endif %}
                                                <div class="ms-3">
                                                    <div class="fw-bold">{{ comment.author }}</div>
                                                    {{ comment.content }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <div id="additional-comments" class="d-none">
                                            {% for comment in tricks.comments|slice(5) %}
                                                <div class="d-flex m-4">
                                                    {% if comment.author.imageName %}
                                                        <div class="flex-shrink-0"><img class="rounded-circle profile-picture" src="../images/userImages/{{ comment.author.imageName }}" alt="{{ comment.author }}'s image profile" /></div>
                                                    {% else %}
                                                        <div class="flex-shrink-0"><img class="rounded-circle profile-picture" src="../images/src_site/userProfilePicturePlaceholder.jpg" alt="..." /></div>
                                                    {% endif %}
                                                    <div class="ms-3">
                                                        <div class="fw-bold">{{ comment.author }}</div>
                                                        {{ comment.content }}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="navigation d-flex justify-content-center mb-8">
                                            <div class="navigation d-flex justify-content-center mb-8">
                                                <button id="load-more-btn" class="btn btn-primary">Voir plus</button>
                                            </div>             
                                        </div>
                                    </div>
                                </div>
                            </section>
                    </div>
                </div>
            </section>
{% endblock %}

{% block javascripts %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    const button = document.getElementById("togg1");
    const desktopDiv = document.getElementById("d1");

    button.addEventListener("click", function () {
        const isActive = desktopDiv.classList.contains("active");
        if (isActive) {
            desktopDiv.classList.remove("active");
        } else {
            desktopDiv.classList.add("active");
        }
    });
});
document.addEventListener('DOMContentLoaded', function () {
            var loadMoreButton = document.getElementById('load-more-btn');

            loadMoreButton.addEventListener('click', function () {
                // Affichez les tricks supplémentaires à chaque clic sur le bouton "Load More"
                var additionalTricks = document.querySelector('#additional-comments');
                console.log(additionalTricks);
                additionalTricks.classList.remove('d-none');

                // Cachez le bouton "Load More" après avoir tout affiché
                loadMoreButton.classList.add('d-none');
            });
        });
</script>
{% endblock %}